.sr-only(#ariaAnnounce aria-live="assertive")

.character-select.input-group
	input.form-control.text-center(
		#nameInput
		type="text"
		[(ngModel)]="pony.name"
		[maxlength]="maxNameLength"
		placeholder="角色名称"
		aria-label="角色名称")
	.input-group-append
		button.btn.btn-default(*ngIf="newButton" (click)="createNew()" [disabled]="!canNew" aria-label="创建新角色")
			| 新建
		button.btn.btn-default(*ngIf="editButton" (click)="edit()" [disabled]="!canEdit" aria-label="编辑角色")
			| 编辑

		.dropdown(dropdown #dropdown="ag-dropdown" (isOpenChange)="onToggle($event)" [focusOnOpen]="false")
			button.btn.btn-default.dropdown-toggle.br-0(
				[ngClass]="removeButton ? 'btn-no-round' : 'btn-no-round-left'"
				[disabled]="!hasPonies || joining" dropdownToggle aria-label="选择角色")
			character-list.dropdown-menu(
				*dropdownMenu (close)="dropdown.close()" (selectCharacter)="select($event)" (newCharacter)="createNew()"
				(previewCharacter)="preview.emit($event)" [canNew]="!newButton && canNew")

		button.btn.btn-danger.remove-button(
			*ngIf="removeButton && !removing" (click)="remove()" [disabled]="!canRemove"
			tooltip="删除小马" aria-label="删除小马")
			fa-icon([icon]="deleteIcon" [fixedWidth]="true")
		button.btn.btn-danger.cancel-remove-button(
			*ngIf="removing" (click)="cancelRemove()"
			tooltip="取消删除" aria-label="取消删除")
			fa-icon([icon]="removeIcon" [fixedWidth]="true")
		button.btn.btn-success(
			*ngIf="removing" (click)="confirmRemove()" [disabled]="!canRemove"
			tooltip="确认删除" aria-label="确认删除")
			fa-icon([icon]="confirmIcon" [fixedWidth]="true")
